#banner{
    height: 140px;   
}
@media (max-width: 768px) {
    #banner{
        background-image: url(../img/banner-tablette.jpg);
        background-position:center;
    }
    #soulignage {
        width: 150px;
        
    }
    
}
@media (max-width: 425px){
    #banner{
        background-image: url(../img/banner-mobile.jpg);
        background-position: center;
    }
}
@media (min-width: 769px){
    #banner{
        background-image: url(../img/banner.jpg);
        background-position: center;
    }
    
    #soulignage {
        width: 200px;
        margin-left: auto;
        margin-right: auto;   
    }
}
#bottomcard {
    background-color: #fff4d2;
}
.articles {
    display: flex;
    justify-content: center;
}

.Contactbg {
    height: 1000px;
    background-position: center;
    display: flex;
    justify-content: center;
}
.Contact {
    background-color:aliceblue;
}
.Contact{
    
    text-align: center;
    position: absolute;   
    
    width: 1000px;    
}

#formulaire{
    width: 500px;
}
#service {
    width: 350px;
    height: 350px;
}
p{
    font-weight: 400;
}
h1, h2, h3, h4, h5{
    font-weight: 600;
}
