footer {
    left:0;
    bottom:0;
    right:0;
    background-color: rgb(255, 255, 227);
    display: flex;
    flex-wrap: wrap;
    font-size: small;   
}
.App {
    background-color: #EEE;
    color: #444;
    width: 100%;
    height: 100%;
    font-family: 'Nunito sans';
    
}
header{
    width: 100%;
    height: auto;
    background-color: #1e1e1e;
    
}
#liensheader {
    color: #EEE;  
}
.fa-brands{
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}
p {
    font-weight: 400;
}


strong {
    color: #000000;
}
#liensfooter {
    color: #444;
    text-decoration: none;
    padding-left: 10%;
}
.copyright{
    background-color: #1e1e1e;
    color: #EEE;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}




