footer {
    position: absolute;
    left:0;
    bottom:0;
    right:0;
}
.App {
    background-color: #EEE;
    color: #444;
}
h1 h2 h3 h4 h5 {
    color: #1e1e1e;
}
strong {
    color: #000000;
}
#overlay {
    top: 0;
    left: 0;
    right: 0;
}
